*, :after, :before{margin: 0;padding: 0;box-sizing: border-box;}
table{border-collapse: collapse;border-spacing: 0;}
.clearfix{display: block;}
.clearfix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.text-more{display: block;word-break: keep-all;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

.charts-zhu-row{width: 100%;height: 100%;overflow: auto;color: #fff;font-size: 12px;}
.charts-zhu-row table{min-width: 100%;}
.charts-zhu-row table td{height: 2.4rem;}
.charts-zhu-row table td:first-child{width: 6em;max-width: 12em;padding: 0 1em;text-align: right;}
.charts-zhu-row table td:last-child{width: 4em;max-width: 10em;padding: 0 1em;text-align: left;}
.charts-zhu-row .c-zhu-row{display: block;width: 100%;height: 1rem;border: 1px solid #01479C;background: #013567;border-radius: 0.5rem;overflow: hidden;}
.charts-zhu-row .c-zhu-row i{display: block;height: 100%;width: 0;background: linear-gradient(to right, #024164 , #118CD2);border-radius: inherit;transition: width 0.8s linear;}
.charts-zhu-row .c-zhu-row-top{line-height: 2.2;padding: 0 0.5rem;}
.charts-zhu-row .c-zhu-row-top span:first-child{display: block;float: left;}
.charts-zhu-row .c-zhu-row-top span:last-child{display: block;float: right;}


.charts-zhu-col{width: 100%;height: 100%;padding: 0 0 2em 3em;position: relative;color: #fff;font-size: 12px;}
.charts-zhu-col .c-left{position: absolute;left: 0;width: 2.6em;height: calc(100% - 2em);top: 0;text-align: right;}
.charts-zhu-col .c-left i{height: calc(100% / 5);width: 100%;font-style: normal;position: relative;top: -0.6em;}
.charts-zhu-col .c-right{width: 100%;height: 100%;position: relative;z-index: 3;}
.charts-zhu-col .c-right .c-items{width: 100%;height: 100%;overflow: hidden;}
.charts-zhu-col .c-right .c-items .c-item{display: block;float: left;height: 100%;position: relative;overflow: hidden;z-index: 2;}
.charts-zhu-col .c-right .c-items i{display: block;height: 0;width: 1rem;position: absolute;bottom: 0;left: 50%;margin-left: -0.5rem;border-radius: 0.5rem 0.5rem 0 0;background: linear-gradient(to top, #5EA1E7 , #138BD9);transition: height 0.8s linear;}
.charts-zhu-col .c-right .c-items .c-item:hover:after{content: '';position: absolute;left: 0;top: 0;background: rgba(255,255,255,0.3);width: 100%;height: 100%;z-index: -1;}
.charts-zhu-col .c-right .c-bg{position: absolute;width: 100%;height: 100%;z-index: -1;top: 0;left: 0;border-bottom: 1px solid rgba(255, 255, 255, 0);border-color: rgba(255, 255, 255, 0.3);}
.charts-zhu-col .c-right .c-bg i{display: block;height: calc(100% / 5);width: 100%;border-top: 1px solid rgba(255, 255, 255, 0);border-color: inherit;}
.charts-zhu-col .c-right .c-tip{display: block;position: absolute;left: 0;top: 0;background: rgba(255,255,255,0.8);z-index: 88;padding: 10px;border: 1px solid #5EA1E7;border-radius: 3px;color: #333;pointer-events: none;opacity: 0;max-width: 50%;}
.charts-zhu-col .c-right .c-tip .c-tip-til{font-size: 12px;}
.charts-zhu-col .c-right .c-tip .c-tip-con{font-size: 14px;}
.charts-zhu-col .c-right .c-tip.show{opacity: 1;}
.charts-zhu-col .c-right .c-tip .c-tip-text-row{padding-left: 10px;position: relative;}
.charts-zhu-col .c-right .c-tip .c-tip-text-row b{display: block;width: 6px;height: 6px;border-radius: 50%;background: #5EA1E7;position: absolute;left: 0;top: 50%;margin-top: -3px;}

.charts-zhu-col .c-bottom{width: calc(100% - 3em);height: 2em;line-height: 2em;position: absolute;right: 0;bottom: 0;}
.charts-zhu-col .c-bottom span{float: left;text-align: center;}

.charts-map{width: 100%;height: 100%;position: relative;z-index: 2;color: #fff;transform: scale(0);}
.charts-map .c-map-bg{display: block;width: 100%;max-height: 100%;position: absolute;left: 0;top: 0;}
.charts-map .c-map-points{display: block;width: 100%;height: 100%;position: absolute;left: 0;top: 0;z-index: 6;pointer-events: none;}
.charts-map .c-map-points .c-map-point{position: absolute;height: 22px;line-height: 22px;word-break: keep-all;white-space: nowrap;pointer-events: none;}
.charts-map .c-map-points .c-map-point i{display: block;float: left;width: 8px;height: 8px;background: #FD6969;border-radius: 50%;position: relative;z-index: 9;float: left;margin: 7px 10px 0 0;pointer-events: auto;}
.charts-map .c-map-points .c-map-point i.warn:after{content: '';position: absolute;left: 0;top: 0;width: 100%;height: 100%;border-radius: 50%;z-index: -1;background: #FD6969;opacity: 0.8;animation: mapPointShan 2s infinite ease-out;}
@keyframes mapPointShan{
    0%{transform: scale(1);opacity: 0.8;}
    100%{transform: scale(4);opacity: 0;}
}
.charts-map.show{transform: scale(1);animation: mapShow 0.8s linear;}
@keyframes mapShow {
    0%{transform: scale(0)}
    100%{transform: scale(1)}
}
.charts-map .c-map-hover{display: block;width: 100%;height: 100%;position: absolute;left: 0;top: 0;z-index: 4;}

.charts-map .c-tip{display: block;position: absolute;left: 0;top: 0;background: rgba(255,255,255,0.8);z-index: 88;padding: 10px;border: 1px solid #5EA1E7;border-radius: 3px;color: #333;pointer-events: none;opacity: 0;max-width: 50%;}
.charts-map .c-tip .c-tip-til{font-size: 12px;}
.charts-map .c-tip .c-tip-con{font-size: 14px;}
.charts-map .c-tip.show{opacity: 1;}
.charts-map .c-tip .c-tip-text-row{padding-left: 10px;position: relative;}
.charts-map .c-tip .c-tip-text-row b{display: block;width: 6px;height: 6px;border-radius: 50%;background: #5EA1E7;position: absolute;left: 0;top: 50%;margin-top: -3px;}


.charts-map .c-map-high{display: block;width: 100%;height: 100%;position: absolute;left: 0;top: 0;z-index: 2;border: 0;opacity: 0;}
.charts-map .c-map-high.show{opacity: 1;}
